<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karma.dao.AnswerMapper">


    <insert id="addAnswer" parameterType="com.karma.pojo.Answers">
        insert into travelweb.answers(questid, userid, text, status)
        values (#{questid},#{userid},#{text},#{status})
    </insert>

    <delete id="deleteAnswer" parameterType="_int">
        delete from travelweb.answers where id = #{answerId}
    </delete>

    <update id="updateStatus" parameterType="_int">
        update travelweb.answers
        set status=#{status}
        where id=#{answerId}
    </update>

    <select id="queryByQuestId" resultType="com.karma.pojo.Answers" parameterType="_int">
        select * from travelweb.answers where questid = #{questId}
    </select>

</mapper>