<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karma.dao.SceneBookMapper">


    <insert id="addBook" parameterType="com.karma.pojo.SceneBook">
        insert into travelweb.scenes_book(sceneid, userid, playdate, num)
        values (#{sceneid}, #{userid}, #{playdate}, #{num})
    </insert>

</mapper>