<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karma.dao.TravelNoteMapper">

    <insert id="addTravelNote" parameterType="com.karma.pojo.TravelNote">
        insert into travelweb.travel_notes(userid, cityid, title, duringtime, triptime, moneyspend, withwho, mainbody, picaddress, status)
        values (#{userid},#{cityid},#{title},#{duringtime},#{triptime},#{moneyspend},#{withwho},#{mainbody},#{picaddress},#{status})
    </insert>

    <select id="queryById" resultType="com.karma.pojo.TravelNote">
        select * from travelweb.travel_notes where id= #{id}
    </select>

    <select id="queryByUserId" resultType="com.karma.pojo.TravelNote">
        select * from travelweb.travel_notes where userid = #{userid}
    </select>

    <select id="queryByCityId" resultType="com.karma.pojo.TravelNote">
        select * from travelweb.travel_notes where cityid = #{cityid}
    </select>

    <update id="updateStatus" parameterType="_int">
        update travelweb.travel_notes
        set status=#{status}
        where id=#{id}
    </update>

    <delete id="deleteTravelNote" parameterType="_int">
        delete from travelweb.travel_notes where id = #{id}
    </delete>



</mapper>