<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karma.dao.UserMapper">

    <insert id="addUser" parameterType="com.karma.pojo.User">
        insert into travelweb.users(username, password)
        values (#{username},#{password})
    </insert>

    <delete id="deleteUser" parameterType="_int">
        delete from travelweb.users where id = #{id}
    </delete>

    <update id="updateUser" parameterType="com.karma.pojo.User">
        update travelweb.users
        set username=#{username},password=#{password}
        where id=#{id}
    </update>

    <select id="doLogin" resultType="com.karma.pojo.User">
        select * from travelweb.users where username = #{username} and password = #{password}
    </select>

    <select id="registerCheck" resultType="_int">
        select count(*) from travelweb.users where username = #{username}
    </select>

</mapper>