<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.karma.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.karma.dao.UserMapper"/>
        <mapper class="com.karma.dao.SceneMapper"/>
        <mapper class="com.karma.dao.ManagerMapper"/>
        <mapper class="com.karma.dao.AnswerMapper"/>
        <mapper class="com.karma.dao.CityMapper"/>
        <mapper class="com.karma.dao.SceneBookMapper"/>
        <mapper class="com.karma.dao.ManagerLogMapper"/>
        <mapper class="com.karma.dao.SceneCommentsMapper"/>
    </mappers>

</configuration>